button .confirm {
    color: white;
    background-color: green;
}

strong {
    color: red;
}

.calendario {
    padding-left: 12px;
    padding-right: 12px;
    input {
        height: 40px;
        border-radius: 7px;
        border-color: rgb(230, 230, 230);
    }
}