* {
    margin: 0;
    padding: 0;
}

.menu {
    padding: 20px 0px 10px 0px;
    margin-right: 10px;
    background-color: rgb(44, 44, 44);
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 11px 0px 0px rgb(71, 44, 190);
}

.item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px 3px 10px;
    width: 100%;
    color: white;
    font-size: 18px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    label {
        padding-left: 9px;
    }
}

.item:hover {
    background-color: rgb(71, 44, 190);
}